:root {
  --font-family: "LT Superior", sans-serif;
  --second-family: "Gilroy", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Roboto Mono", sans-serif;
}

%red-500 {
  font-family: "LT Superior";
  font-weight: 500;
}
